<style>
  body {
    background-image: url("images/background.jpg");
  }

  li
  {
    font-size:16px;
    list-style-type: none;
  }
</style>
<h3>Gestion des Projets</h3>
  <li>
    <ul><a href="#/createproject">Créer un nouveau projet</a></ul>
    <ul><a href="#/projects">Visualiser les projets</a></ul>
  </li>
<h3>Gestion des utilisateurs</h3>
  <li>
    <ul><a href="#/createuser">Créer un nouvel utilisateur</a></ul>
    <ul><a href="#/rest">Visualiser les utilisateurs</a></ul>
  </li>
<h3>Gestion des Roles</h3>
  <li>
    <ul><a href="#/createrole">Créer un role</a></ul>
  </li>
